# development, test, production
NODE_ENV=development

#app variables
PORT=80

#JWT
JWT_TOKEN_ISSUER=5010
JWT_ACCESS_TOKEN_TTL=3600 # 1 hour
JWT_REFRESH_TOKEN_TTL=864000 # 1 day

#database variables
POSTGRES_HOST=auth-postgres
POSTGRES_DB=auth_db
POSTGRES_PORT=5432

#db user
#app user
APP_USER_NAME=appuser
APP_USER_PASSWORD=appuser_password

#for generate keys
# private openssl genpkey -algorithm RSA -out private.pem
# public openssl rsa -pubout -in private.pem -out public.pem
